
@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-4">Không tìm thấy dữ liệu</p>
        @if (User.IsInRole("Developer"))
        {
            <a href="@Url.Action("Index", "Owners")">&larr; Quay lại trang danh sách khách hàng</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Home")"> &larr; Quay lại trang tổng quan </a>
        }
    </div>

</div>