@model IEnumerable<LibraryManageWebsite.Models.EF.User>

@{
    ViewBag.Title = "Danh sách Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow container mt-3 py-3">
    <h2 class="text-center mb-3">Danh sách Admin theo khách hàng</h2>
    <div class="row my-3">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3">
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    <input type="text" class="form-control bg-light small" id="keyword" name="keyword" placeholder="Nhập từ khóa cần tìm..."
                           aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Keyword">
                    <input type="hidden" id="page" name="page" value="1" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"></div>
    </div>
    @Html.Partial("IndexPartialView\\AlertMessage")
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped text-center">
            <tr>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Trạng thái</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            var getGender = item.Gender == 0 ? "Nam" : item.Gender == 1 ? "Nữ" : "Khác";
                        }
                        @getGender
                    </td>
                    <td>
                        @{
                            var getBirtday = item.Birthday.ToString("MM/dd/yyyy");
                        }
                        @getBirtday
                    </td>
                    <td class="text-nowrap" style="width:1px">
                        @if (item.Status == 1)
                        {
                            <a class="btn btn-sm btn-success" disabled>Đang làm việc</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-danger" disabled>Đã nghỉ việc</a>
                        }
                    </td>
                </tr>
            }

        </table>

    </div>

    @Html.Partial("IndexPartialView\\PagedList")
</div>