@model WebAppMVC5.Models.EF.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có thực sự muốn xóa không?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên loại</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Tên tiếng Việt</dt>

        <dd>
            @Html.DisplayFor(model => model.NameVN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
