
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Submit", "T3H", FormMethod.Post))
{
<div class="form-group">
    <div class="form-group">
        <label>Họ và tên:</label>
        <input class="form-control" type="text" id="name" name="name" />
    </div>
    <div class="form-group">
        <label>Tuổi:</label>
        <input class="form-control" type="number" id="age" name="age" min="1" />
    </div>
    <div class="form-group">
        <p>Giới tính:</p>
        <select id="gender" name="gender" class="form-control">
            <option value="true">Nam</option>
            <option value="false">Nữ</option>
        </select>
    </div>
    <div class="form-group">
        <label>Lớp:</label>
        <input class="form-control" type="text" id="classes" name="classes" />
    </div>
    <div class="form-group">
        <label>Giới thiệu bản thân:</label>
        <textarea class="form-control" id="des" name="des" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Lưu" />
    </div>
</div>
}
