@model IEnumerable<LibraryManageWebsite.Models.EF.Regulation>

@{
    ViewBag.Title = "Quy định chung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow container my-3 py-3">
    <h2 class="text-center mb-3">Quy định quản lý thư viện</h2>

    @Html.Partial("IndexPartialView\\AlertMessage")

    @if (User.IsInRole("Admin"))
    {
        <p>
            <a class="btn btn-sm btn-primary" href="@Url.Action("Create", "Regulations")">+ Tạo mới</a>
        </p>
    }

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                @Html.Raw(item.RegulationsContent)
            </div>
        </div>

        if (User.IsInRole("Admin"))
        {
            <p class="mt-3">
                <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Regulations", new { id = item.Id })">Sửa quy định</a>
            </p>
        }
    }
</div>